{% extends 'chat/index.html' %}
{% block body %}
<nav class="black lighten-3">
    <div class="nav-wrapper container">
        <b> Username: {{ request.user.username }} id: {{ request.user.id }} </b>
       
        
        <a href="#" class="brand-logo" style="font-size: medium;">Chatting with {{receiver.username}} "id: {{receiver.id}}"</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">{{ request.user.username }}</a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
</nav>
    <div class="section" style="height: 80vh">
    <div class="row" style="background-color: rgb(230, 234, 236);">
        <div class="col s3" style="background-color: rgb(247, 233, 236);">
        <div class="card" >
            <div id="users" class="collection" style="background-color: rgb(245, 231, 234);">
                
            </div>
        </div>
        </div>
        <div class="col s9">
            <div class="card" style="background-color: rgb(236, 162, 178);">
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post" style="background-color: rgb(242, 235, 245);">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field" style="background-color: rgb(254, 250, 255);">
                            <input id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    {% load staticfiles %}
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            })
            setInterval(() => {
                getUsers({{ request.user.id }}, doc => {
                    let list = ''
                    doc.map(userItem => {
                        list += userItem
                    })
                    $('#users').html(list)
                });
            }, 1000)
        })        

        
    </script>
{% endblock %}